*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/dictionaries
/.idea/sonarlint
/.idea/inspectionProfiles
/.idea/.name
/.idea/*.xml
/.idea/codeStyles/Project.xml
*.apk
jsonviewer.json
jsonviewer2.json
jsonviewer3.json
*.exec
dep-tree.txt
